**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
New Language/~$Syntacticcally replaceable.xlsx
New Language/Syntax Analyze Phase/CFG/~$CFGs.docx
New Language/Syntax Analyze Phase/FirstFollowSet/~$firstFollowSet.xlsx
